[submodule "skywater-digital-flow"]
	path = skywater-digital-flow
	url = https://code.stanford.edu/ee272/skywater-digital-flow
[submodule "mflowgen"]
	path = mflowgen
	url = https://github.com/mflowgen/mflowgen
